#{rules => #{'GET' => #{<<"provs">> => #{response => [{200, [], <<"got_provs">>}, 
													  {500, [], <<"{\"errorCode\":1234,\"errorMessage\":\"Internal Server Error\",\"errorDetails\":\"don't know\"}">>},
													  {400, [], <<"{\"errorCode\":1234,\"errorMessage\":\"Mal formed Request\",\"errorDetails\":\"don't know\"}">>}
									   				 ],
									   	 auth => [basic, "test", "test"]
									   	}
					   },
			 'POST' => #{<<"provs">> => #{data => [<<"shortId">>, <<"longIds">>, <<"customerName">>, <<"password">>, <<"senderDomains">>, <<"smsDomains">>, <<"sessions">>, <<"defaultSender">>, <<"reply">>],
			                              response => [{200, [], <<"{\"statusCode\": 0, \"statusMessage\": \"OK\", \"statusDetails\": \"\"}">>},
			                              			   {500, [], <<"{\"errorCode\":1234,\"errorMessage\":\"Internal Server Error\",\"errorDetails\":\"don't know\"}">>},
										               {400, [], <<"{\"errorCode\":1234,\"errorMessage\":\"Mal formed Request\",\"errorDetails\":\"don't know\"}">>}
			                                          ],
			                              auth => [basic, "test", "test"]
			                             }
			            }
			},
 responses => #{'GET' => #{<<"provs">> => 200},
 			    'POST' => #{<<"provs">> => 200}
 			   }
}.