#{rules => #{'GET' => #{[<<"provs">>] => #{response => [{200, [], <<"[{\"shortId\":\"2222\",\"longIds\":[\"+41790000000\",\"+41790000001\"],\"customerName\":\"SCME 																		GmbH\",\"password\":\"password1234\",\"senderDomains\":[\"scme.foo\",\"scme.bar\"]
																	,\"smsDomains\":[\"sms.scme.foo\",\"sms.scme.bar\"],\"sessions\":4,\"defaultSender\":\"SCME\",\"reply\":true,\"createDateTime\":\"2015-04-01T12:00:00.000Z\",\"updateDateTime\":\"2015-05-01T12:00:00.000Z\"},{\"shortId\":\"1234\",\"longIds\":[\"+41790000002\",\"+41790000003\",\"+41790000004\"],\"customerName\":\"Hinkelstein GmbH\",\"password\":\"obelix1234\",\"senderDomains\":[\"hinkelstein.bar\",\"obelix.gallier\",\"asterix.gallier\",\"idefix.gallier\"],\"smsDomains\":[\"sms.hinkelstein.bar\",\"sms.obelix.gallier\",\"sms.asterix.gallier\",\"sms.idefix.gallier\"],\"sessions\":2,\"defaultSender\":\"Hinkelstein\",\"reply\":false,\"createDateTime\":\"2015-04-01T12:00:00.000Z\",\"updateDateTime\":\"2015-05-01T12:00:00.000Z\"}]">>},
													  {500, [], <<"{\"errorCode\":1234,\"errorMessage\":\"Internal Server Error\",\"errorDetails\":\"don't know\"}">>},
													  {400, [], <<"{\"errorCode\":1234,\"errorMessage\":\"Mal formed Request\",\"errorDetails\":\"don't know\"}">>}
									   				 ],
									   	 auth => [basic, "test", "test"]
									   	},
			            [<<"provs">>, <<"100">>] => #{response => [{200, [], <<"{\"code\":1234,\"data\":\"Internal Server Error\",\"details\":\"don't know\"}">>}, 
													  {400, [], <<"{\"errorCode\":1234,\"errorMessage\":\"Mal formed Request\",\"errorDetails\":\"don't know\"}">>},
													  {404, [], <<"{\"errorCode\":1234,\"errorMessage\":\"Not Found\",\"errorDetails\":\"don't know\"}">>},
													  {409, [], <<"{\"errorCode\":1234,\"errorMessage\":\"Conflict\",\"errorDetails\":\"don't know\"}">>},
													  {500, [], <<"{\"errorCode\":1234,\"errorMessage\":\"Internal Server Error\",\"errorDetails\":\"don't know\"}">>}
									   				 ],
									   	 auth => [basic, "test", "test"]
									   	}
					   },
			 'POST' => #{[<<"provs">>] => #{data => [<<"shortId">>, <<"longIds">>, <<"customerName">>, <<"password">>, <<"senderDomains">>, <<"smsDomains">>, <<"sessions">>, <<"defaultSender">>, <<"reply">>],
			                              response => [{200, [], <<"{\"statusCode\": 0, \"statusMessage\": \"OK\", \"statusDetails\": \"\"}">>},
			                              			   {500, [], <<"{\"errorCode\":1234,\"errorMessage\":\"Internal Server Error\",\"errorDetails\":\"don't know\"}">>},
										               {400, [], <<"{\"errorCode\":1234,\"errorMessage\":\"Mal formed Request\",\"errorDetails\":\"don't know\"}">>}
			                                          ],
			                              auth => [basic, "test", "test"]
			                             },
			             [<<"provs">>, <<"100">>] => #{data => [<<"shortId">>, <<"longIds">>, <<"customerName">>, <<"password">>, <<"senderDomains">>, <<"smsDomains">>, <<"sessions">>, <<"defaultSender">>, <<"reply">>],
			                              response => [{200, [], <<"{\"statusCode\": 0, \"statusMessage\": \"OK\", \"statusDetails\": \"\"}">>},
										               {400, [], <<"{\"errorCode\":1234,\"errorMessage\":\"Mal formed Request\",\"errorDetails\":\"don't know\"}">>},
										               {404, [], <<"{\"errorCode\":1234,\"errorMessage\":\"Not Found\",\"errorDetails\":\"don't know\"}">>},
													   {409, [], <<"{\"errorCode\":1234,\"errorMessage\":\"Conflict\",\"errorDetails\":\"don't know\"}">>},
			                              			   {500, [], <<"{\"errorCode\":1234,\"errorMessage\":\"Internal Server Error\",\"errorDetails\":\"don't know\"}">>}
			                                          ],
			                              auth => [basic, "test", "test"]
			                             }
			            },
			 'DELETE' => #{[<<"provs">>, <<"100">>] => #{response => [{200, [], <<"{\"statusCode\": 0, \"statusMessage\": \"OK\", \"statusDetails\": \"\"}">>},
										               {400, [], <<"{\"errorCode\":1234,\"errorMessage\":\"Mal formed Request\",\"errorDetails\":\"don't know\"}">>},
			                              			   {404, [], <<"{\"errorCode\":1234,\"errorMessage\":\"Not Found\",\"errorDetails\":\"don't know\"}">>},
			                              			   {500, [], <<"{\"errorCode\":1234,\"errorMessage\":\"Internal Server Error\",\"errorDetails\":\"don't know\"}">>}
			                                          ],
			                              auth => [basic, "test", "test"]
			                             }
			            }
			},
 responses => #{'GET' => [#{[<<"provs">>] => 200}, #{[<<"provs">>, <<"100">>] => 200}],
 			    'POST' => [#{[<<"provs">>] => 200}, #{[<<"provs">>, <<"100">>] => 200}],
 			    'DELETE' => [#{[<<"provs">>, <<"100">>] => 200}]
 			   }
}.